*.iml
.idea
target
build
.DS_Store
*.jar
logs/
.gradle
.gradletasknamecache
classes/
/upload
out/
/hippo-admin/.gradle
/hippo-api/.gradle
**/.gitignore
hippo-node/node_modules/
hippo-node/package-lock.json
hippo-node/src/.umi/